/* Below is the design for chicken-noodle-soup.html */

.body {
  font-family: 'Times New Roman', sans-serif;
}

.heading {
  color: green;
  font-weight: 800;
}

#credit {
  color: red;
  font-weight: 700;
}

/* Above is the design for chicken-noodle-soup.html */




