/* Below is the design for chicken-noodle-soup.html */

.body {
  font-family: "verdana", "Times New Roman", sans-serif;
}

.heading {
  color: green;
  font-weight: 800;
}

#credit {
  color: red;
  font-weight: 700;
}

.image {
  height: autopx;
  width: 400px;
}

/* Above is the design for chicken-noodle-soup.html */



/* Below is the design for chicken-pot-pie.html */

.jaro-body {
  font-family: "verdana", "Time New Roman", sans-serif;
}

.jaro {
  color: green;
  font-weight: bold;
}

.jaro-credit {
  color: red;
  font-weight: 800;
}

img {
  height: auto;
  width: 400px
}

/*Above is the design for chicken-pot-pie.html */
